<h3>Cardápio List</h3>
<hr>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-12'>
      <table class='table'>
        <thead class='thead-dark'>
          <tr class='row'>
            <th class='col-md-1 pt-3'>#</th>
            <th class='col-md-8 pt-3'>Descrição</th>
            <th class='col-md-2 pt-3'>Data</th>
            <th class='col-md-1'>
              <a class='btn btn-light btn-block btn-sm' routerLink='./new'>
                <i class='fa fa-plus'></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class='row' *ngFor='let item of items'>
            <td class='col-md-1 pt-3'>{{ item.id }}</td>
            <td class='col-md-8 pt-3'>{{ item.desc }}</td>
            <td class='col-md-2 pt-3'>{{ item.date }}</td>
            <td class='col-md-1 text-center'>
              <a class='btn-sm btn btn-link' [routerLink]='["/cardapios", item.id]'><i
                class='fa fa-search small'></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
